<a href="https://colab.research.google.com/github/albert-melo/ProgCiencia-de-Dados/blob/master/WorkProgCienciaDados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Trabalho da Disciplina Programação para Ciência de Dados


Aluno:

> Albert Lima de Melo

Montagem do Drive para acesso a base de dados

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Importando a base de dados **_dados-curso-completo.csv_** contendo 1.658.825 registros do Twitter

In [10]:
import pandas as pd
dados = pd.read_csv("/content/drive/My Drive/WorkProgCD/dados-curso-completo.csv")
print("Registros: ", len(dados))

Registros:  1658825

Inicio da Exploração da Base

In [18]:
dados.describe()

            retweet    seguidores     latitude    longitude
count  1.658825e+06  1.658825e+06  8720.000000  8720.000000
mean   1.978533e+02  3.257206e+04   -40.237583   -11.117100
std    6.337641e+03  3.680300e+05    20.808494    19.169105
min    0.000000e+00  0.000000e+00  -123.120400   -37.818769
25%    0.000000e+00  1.010000e+02   -47.864334   -23.305300
50%    0.000000e+00  3.800000e+02   -43.955615   -19.624400
75%    0.000000e+00  1.470000e+03   -38.453198    -7.120700
max    1.139763e+06  8.424125e+07   174.789310    58.257776